/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v15-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v15-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v15-latin-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v15-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v15-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v15-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}

@tailwind base;

.results .table-row:nth-child(even) {
  @apply bg-gray-50
}

.results .table-header .table-cell {
  @apply text-left uppercase font-normal border bg-gray-600 text-white p-4
}

.results td {
  @apply text-left font-normal border text-gray-900 px-4 py-2 align-top
}

.results td:first-child {
  @apply font-semibold
}

.results td:first-child a {
  @apply text-gray-900
}

.results td:first-child a:hover {
  @apply text-gray-900 underline
}

.results td a:not(.text-white) {
  @apply text-spw-blue
}

.results td a:not(.text-white):hover {
  @apply text-spw-blue-dark underline
}


.results td a.btn {
  @apply bg-gray-200 text-gray-800 rounded px-6 py-2 shadow-sm
}

.results td a.btn:hover {
  @apply bg-gray-300
}

@tailwind components;

@tailwind utilities;
